<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Medical Solutions For Rural India</title>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <link href="css/simple-sidebar.css" rel="stylesheet">
      
    <link rel="icon" 
      type="image/png" 
      href="favicon/favicon.ico" />
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
        <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.js"></script>

    <script src="js/clinic.js"></script>
     <script src="js/firebase.js"></script>

    <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCXgwpyqDiC_xvZ6QaYAcZOMFQ8hqPpiq4",
    authDomain: "medicalsolutionsforrural-india.firebaseapp.com",
    databaseURL: "https://medicalsolutionsforrural-india.firebaseio.com",
    projectId: "medicalsolutionsforrural-india",
    storageBucket: "medicalsolutionsforrural-india.appspot.com",
    messagingSenderId: "117537455698"
  };
  firebase.initializeApp(config);
</script>
<script src="js/angularfire.js"></script>       
    
</head>

<body ng-app="clinic">
<div ng-controller="appointmentCtrl as appointment">

    <div id="wrapper">

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Menu
                    </a>
                </li>
                <li>
                    <a href="#!/addpatient">Add Patient</a>
                </li>
                <li>
                    <a href="#!/docschedule">Prepare Dr.Schedule</a>
                </li>
                <li>
                    <a href="#!/inventory">Inventory</a>
                </li>
                <li>
                    <a href="#!/distress">Send Distress Signal</a>
                </li>
                <li>
                    <a href="#!/pathistory">Patient History</a>
                </li>
                <li>
                    <a href="#!/patappoint">Patient Appointments</a>
                </li>
                
            </ul>
        </div>
        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                
                <h1>Clinic Dashboard&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{appointment.clinic_name}}</h1>&nbsp
               
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> </a>
            </div>
            <div ng-view></div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="js/vendor/jquery/jquery.min.js"></script>
    <script src="js/vendor/popper/popper.min.js"></script>
    <script src="js/vendor/bootstrap/js/bootstrap.min.js"></script>

    
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</div>
</body>

</html>